PORT=5000
# DB_URL=mongodb+srv://sales-task:sales-task@cluster0.7ct1cb2.mongodb.net/?appName=Cluster0
DB_URL=mongodb+srv://sales-taks:amitimi177@cluster0.7ct1cb2.mongodb.net/?appName=Cluster0


NODE_ENV=production
JWT_SECRET=tourmanagementsecretkey
JWT_REFRESH_SECRET=tourmanagementaccesssecretkey
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRE_IN=30d
# 
# super admin
SUPER_ADMIN_PASSWORD=12345678
SUPER_ADMIN_EMAIL=admin@gmail.com


# Express Session
EXPRESS_SESSION_SECRET=express-Session




